/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
	outline: none;
	}
a:focus,a:active{
	outline: none;
	}
nav,footer,header,aside{
	display: block;
	}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{
	font-family:inherit;
	}
input::-ms-clear{
	display: none;
	}
button{
	cursor: pointer;
	}
button::-moz-focus-inner {
	padding:0;border:0;
	}
a, a:visited{
	text-decoration: none;
	}
a:hover{
	text-decoration: none;
	}
ul li{
	list-style: none;
	}
img{
	vertical-align: top;
	}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;font-weight: 400;
	}
a {
  text-decoration:none;
}

/*--------------------*/
body{
	background: Url(img/b.jpg);
	background-repeat: repeat;
	background-size: 35%;
	background-attachment:fixed;
}
::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
::-webkit-scrollbar-track {
  background:RGBA(10,10,10,0.4);        /* цвет дорожки */
}
::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid orange;  /* padding вокруг плашки */
}
/*Блоки Сайта*/
.toppp{
	padding-bottom: 0px;
	border-top: 1px double #111;
	border-bottom: 3px double #333;
}
.navigation{
	display: flex;
	font-size:22px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 8px;
	padding-bottom:8px;
	background:RGBA(10,10,10,0.4);
}
.logo{
	background:RGBA(10,10,10,0.4);
	padding-top: 2px;
	padding-bottom:2px;
	border-radius: 0px 8px 8px 0px;
	border-bottom: 3px double #555;
	border-right: 2px double #444;
	border-top: 1px double #333;
	
}
.logo a{
	text-shadow: 2px 2px #333;
	padding-left: 12px;
	padding-right: 12px;
	animation: gradient 24s infinite alternate-reverse;

}
.logo p{	
	text-shadow: 2px 2px #333;
	color:#AAA;
}
.logoB p{
	text-shadow: 2px 2px #333;
	padding-left: 48px;
	padding-right: 48px;
	animation: gradient 24s infinite alternate-reverse;
	background:RGBA(10,10,10,0.4);
	padding-top: 2px;
	padding-bottom:2px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #222;
	border-right: 2px double #444;
	border-top: 1px double #333;
	
}
.menu{
	background:RGBA(10,10,10,0.4);
	padding-top: 2px;
	padding-bottom:2px;
	border-radius: 8px 0px 0px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
}
.menu2{
	background:RGBA(10,120,10,0.9);
	justify-content: center;

	
}
.menu2 Img{
	
	height:100%;
	
}
.ggg{
	width:350px;
	padding-left: 12px;
	padding-right: 12px;
}
.menu a{
	text-shadow: 2px 2px #333;
	padding-right: 12px;
	padding-left: 12px;
	animation: gradient 24s infinite alternate-reverse;
}

.menu a:hover{
	border-bottom: 2px double #FFF;
	border-top: 1px double #FFF;
	border-radius: 8px 8px 8px 8px;
}
.menu a:before{ content:" ";}
.menu a:after{content:" ";}
.logo a:hover{
	border-bottom: 2px double #FFF;
	border-top: 1px double #FFF;
	border-radius: 8px 8px 8px 8px;
}
.logo a:before{ content:" ";}
.logo a:after{content:" ";}
@keyframes gradient{
	0%{color:#FFF;}
	10%{color:#FFA;}
	20%{color:#F6F;}
	30%{color:#AFF;}
	40%{color:#AF9;}
	50%{color:#AAF;}
	60%{color:#fAF;}
	70%{color:#96F;}
	80%{color:#F93;}
	90%{color:#FF9;}
	100%{color:#666;}
}
.content{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:RGBA(10,10,10,0.2);
	border-top: 1px double #111;
	border-bottom: 3px double #333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.foter-box{
	display: flex;
	font-size:18px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 16px;
	padding-bottom:16px;
	background:RGBA(10,10,10,0.4);
}
.foter-box p{
	background:RGBA(10,10,10,0.4);
	padding-top: 2px;
	padding-bottom:2px;
	border-radius: 8px 0px 0px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
	animation: gradient 24s infinite alternate-reverse;
	text-shadow: 2px 2px #333;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 3px double #555;
	border-top: 1px double #333;
}
.centor{
	display: flex;
	width:100%;
	height:100%;
	flex-direction: column;
	justify-content: space-between;
}
.screen{
	display: flex;
	padding-top: 3px;
	padding-bottom:6px;
	text-shadow: 2px 2px #333;
	padding-left: 12px;
	padding-right: 12px;
	width:70%;
	height:70%;
	margin-left: 15%;
}
.inform{
	display: flex;
	padding-top: 6px;
	padding-bottom:3px;
	padding-left: 12px;
	padding-right: 12px;
	width:70%;
	height:30%;
	margin-left: 15%;
	margin-bottom:12px;
}
.block-box{
	display: flex;
	width:100%;
	height:100%;
}
.block{
	width:100%;
	height:100%;
	background:RGBA(10,10,10,0.7);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
	font-size:18px;
	overflow: auto;
	color:#fca;
}
.item-box{
	display: flex;
	width:100%;
	height:100%;
}
.item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
	height:100%;
	background:RGBA(10,10,10,0.4);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
	font-size:20px;
	overflow: auto;
	color:#fca;
}
p{
	font-size:24px;
	text-align: center;
}
H1{
	font-size:48px;
}
H1{
	font-size:36px;
}
.ImgA{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width:33%;height:35%;
	object-fit:cover;
	
}
.ImgA img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.itemB{
	display: flex;
	width:50%;
	height:100%;
	background:RGBA(10,10,10,0.4);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
	font-size:20px;
	overflow: auto;
	color:#fca;
}

.itemD{
	width:30%;
	background:RGBA(10,10,10,0.4);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
}
.itemF{
	background:RGBA(10,10,10,0.4);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
}
.itemG{
	display: flex;
	flex-wrap: wrap;
	background:RGBA(10,10,10,0.4);
	margin-bottom:5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
	border-bottom: 3px double #555;
	border-left: 2px double #666;
	border-top: 1px double #333;
}
.fun{
	font-size:20px;
	background:RGBA(100,150,000,0.4);
}
.funB{
	font-size:18px;
	background:RGBA(100,150,150,0.4);
}
.buyA{
	background:RGBA(100,50,100,0.4);
	font-size:24px;
	animation: gradient 24s infinite alternate-reverse;
}
.buyE{
	font-size:20px;
}
.buyB{
	font-size:18px;
	background:RGBA(150,150,000,0.4);
}
/*Адаптив*/
@media screen and (max-width: 919px) {
	body{
		background: Url(img/b.jpg);
		background-repeat: repeat;
		background-size: 25%;
		background-attachment:fixed;
	}
@media screen and (max-width: 767px) {
	body{
		background: Url(img/b.jpg);
		background-repeat: repeat;
		background-size: 50%;
		background-attachment:fixed;
	}
}
/*--------------------*/



